.left {
  margin-top: 3rem;
  margin-left: -2rem;
  float: left;
  height: 100%;
  overflow: hidden;
  width: 45%;
}

.arms {
  width: 110%;
}

.right {
  padding-top: 15rem;
  padding-bottom: 20rem;
  margin-right: 150px;
  text-align: left;
  float: right;
  height: 100%;
  width: 40%;
  font-size: 16px;
  border-left: 5px solid white;
  padding-left: 70px;
  margin-bottom: 100px;
}

@media only screen and (max-width: 1300px) {
  .left {
    display: none;
  }

  .right {
    width: 80%;
    font-size: 12px;
    margin-right: 40px;
    border: none;
    margin-bottom: 50px;
    padding-top: 10px;
  }
}
