.header {
  margin-left: 4rem;
  margin-top: 4rem;
  font-size: 40px;
  text-transform: uppercase;
}

.line {
  margin-left: 4rem;
  margin-top: -1rem;
  width: 100%;
  height: 2px;
  background-color: white;
}

.blogpost-link {
  display: inline;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
}

.blogpost-link:hover {
  text-decoration: underline;
}

.blogposts {
  display: inline-block;
  margin-left: 4rem;
  margin-top: 4rem;
}

.about-blog {
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  font-size: 16px;
}

@media (max-width: 500px) {
  .blogposts, .line, .header {
    margin-left: 20px;
  }

  .blogposts {
    margin-right: 60px;
  }

  .blogpost-link {
    font-size: 14px;
  }

  .about-blog {
    font-size: 12px;
  }
}
