.index-container {
  overflow-x: scroll;
  width: 100%;
}

.hello {
  font-size: 2.5vw;
  font-weight: 600;
  margin-top: 25%;
  margin-bottom: -5px;
  margin-left: 10%;
}

.info {
  font-size: 1.5rem;
  font-weight: 300;
  width: 45%;
  margin-left: 10%;
}

.surroundingDiv {
  text-align: center;
  float: right;
  z-index: 1;
}

.me {
  width: 70%;
  margin-left: 35%;
  margin-top: -40%;
}

.contactInfo {
  text-align: center;
  font-weight: 300;
  margin-bottom: 50px;
}

.socialIcons {
  padding: 10px;
  font-size: 30px;
  margin-top: -50px;
  margin-bottom: 0px;
  color: #1F1F1F;
}

.joinSlack {
  text-align: center;
  margin-top: -40px;
  margin-bottom: 70px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.joinSlackLink {
  text-decoration: none; 
}

@media (max-width: 800px) and (min-width: 601px) {
  .me {
    margin-top: -30%;
    margin-left: 0;
    width: 130%;
  }

  .info {
    font-size: 22px;
    width: 70%;
  }

  .hello {
    font-size: 26px;
  }

  .sideBar {
    width: 3px;
    margin-top: -35%;
  }
}

@media (max-width: 1000px) and (min-width: 800px) {
  .hello {
    padding-left: 40px;
  }

  .info {
    padding-left: 40px;
    font-size: 20px;
  }

  .me {
    margin-top: -220px;
  }
}

@media (max-width: 1200px) and (min-width: 1000px) {
  .info {
    font-size: 18px;
    padding-left: 10px;
  }

  .hello {
    font-size: 23px;
    padding-left: 10px;
  }

  .me {
    margin-top: -390px;
  }
}

@media (max-width: 600px) {
  .info {
    font-size: 14px;
    width: 70%;
  }

  .hello {
    font-size: 22px;
    margin-top: 50%;
    margin-bottom: 5px;
  }

  .me {
    margin-top: -35%;
    margin-left: -50px;
    width: 150%;
  }
}
