button {
  top: -1.2rem;
  float: right;
  right: 4rem;
  position: relative;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline:none;
  color: white;
  font-size: 75px;
  font-weight: 200;
}
