.hidden-shop-banner, .hidden-instagram-link {
  display: none;
}

#shop-background {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -10;
  margin: -5px;
  overflow: scroll;
}

#shop-background button {
  color:black!important;
}

.shop-summary-container {
  width: 48%!important;
  float: right;
}

.shop-header {
  margin-top: 3.5rem;
  margin-left: 3.5rem;
  margin-top: -5.2rem;
}

#shop-header-description {
  margin-left: 3.5rem;
  color: black;
  font-size: 24px;
  font-weight: 300;
  margin-top: 50px;
}

.shop-banner {
  color: black;
  font-size: 70px;
  margin-right: 1em;
  margin-top: 200px;
}

.shop-description {
  float: right;
  margin-right: 1em;
  color: black;
  margin-top: -50px;
}

.shop-description a {
  color: black;
  text-decoration: underline;
}


.down-arrow {
  color: black;
  font-size: 40px;
  margin: auto;
  padding: 10px;
  margin-left: 40%;
  margin-top: 80px;
}

.morgancodes-image {
  width: 40%!important;
  margin-top: 2rem;
  margin-left: 4.5%;
}

@media (max-width: 500px) {
  .shop-header {
    margin-left: 30px;
  }
}

.shop-link {
  font-size: 3.3rem;
  font-weight: 600;
  color: black!important;
  text-decoration: none;
}

.outer-item-container {
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}

/** 

       Responsivity

*/

@media only screen and (max-width: 789px) {
  .outer-container {
    text-align: center;
  }

  .hidden-shop-banner {
    display: inline-block;
    color: black;
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
    margin: auto;
    margin-top: 20px;
  }

  .shop-summary-container {
    text-align: center!important;
    position: absolute;
    margin-top: 70px;
    width: 85%!important;
    margin-left: 8.5%;
    margin-right: 4%;
  }

  .morgancodes-image {
    width: 80%!important;
    margin: 0;
    margin-top: 30px;
  }

  .shop-banner {
    display: none;
  }

  .shop-description {
    display: inline-block;
    font-size: 14px;
  }

  .hidden-instagram-link {
    color: black;
    display: inline;
    font-style: italic;
  }

  .down-arrow {
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 100px!important;
  }

  .outer-item-container {
    margin-top: 245px!important;
    margin-bottom: -50px!important;
  }

  .shop-footer {
    width: 80%;
    font-size: 12px;
    margin-top: -30px;
    margin-bottom: 80px!important;
  }

  .shop-social-icon {
    font-size: 18px!important;
    margin-top: -200px!important;
  }
}



@media only screen and (min-width: 790px) and (max-width: 805px) {
  .shop-banner {
    font-size: 32px;
    margin-top: 140px;
    margin-left: 10px;
  }
  .shop-description {
    margin-left: 10px;
    font-size: 12px;
    margin-top: -10px;
  }
  .down-arrow {
    margin-top: 0px;
    font-size: 20px;
    margin-left: 30%;
  }
}

@media only screen and (min-width: 806px) and (max-width: 1025px) {
  .shop-banner {
    font-size: 30px;
    margin-left: 20px;
  }
  .shop-description {
    margin-top: -20px;
    font-size: 12px;
    margin-right: 90px;
    margin-left: 20px;
  }
  .down-arrow {
    margin-top: 30px;
    font-size: 24px;
    margin-left: 30%;
  }
}

@media only screen and (min-width: 1026px) and (max-width: 1400px) {
  .shop-banner {
    font-size: 38px;
  }
  .shop-description {
    margin-top: -20px;
    font-size: 12px;
    margin-right: 70px;
  }
  .down-arrow {
    margin-top: 10px;
    font-size: 24px;
    margin-left: 30%;
  }
}

.shop-footer {
  margin: 0 auto;
  color: black;
  text-align: center;
  margin-top: 100px;
  width: 80%;
  margin-bottom: 200px;
}

.shop-footer-text a {
  color: black;
  text-decoration: underline;
}

.shop-bottom-links {
  margin-top: 200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}

.shop-social-icon {
  padding: 10px;
  font-size: 30px;
  margin-top: -50px;
  margin-bottom: 10px;
  color: black;
}

.shop-closing {
  color: black;
  font-size: 14px;
}